.dropdown-menu {
    width: 600%;
}

.footerStyle .row {
    background-color: #000000;
    color: #ffffff;
    text-align: center;
    margin-right: 0;
    margin-left: 0;
    padding-right: 0;
    padding-left: 0;
}

.featuredRecipe img {
    border: 16px solid white;
    box-shadow: 2px 2px 5px black;
}


/***************** 
Recipe pages css 
******************/

.containerRecipes {
    background-image: url("../images/background.jpeg");
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    padding-bottom: 1%;
}

.featuredRecipe p {
    text-indent: 4%;
}


/* Rules for using icons as black on a light background. */

.material-icons {
    color: rgb(90, 160, 11);
}

.material-icons { font-size: 2.5em !important; }

.recipeOptions {
    padding-top: 1%;
    padding-bottom: 1%;
}

.ingredients {
    padding-right: 1%;
    padding-left: 1%;
    padding-top: 1%;
}

.ingredientHead {
    border-top: 1px solid #8f8787;
    border-bottom: 1px solid #8f8787;
}

.directionsButton {
    padding-left: 1%;
    margin-bottom: 1%;
}

button {
    cursor: pointer;
}

.suggestions a {
    color: #000000;
    text-decoration: none;
}


/***********
CHILI PAGE 
************/

.recipeContainerChili {
    background-color: #fff7f7;
    background-position: left top;
    background: url("../images/recipeBackground.jpeg");
    background-repeat: repeat;
    border-radius: 25px;
    border-right: 10px solid transparent;
    border-bottom: 10px solid transparent;
    -webkit-border-image: url("../images/recipeBackground.jpeg") 333 round;
    /* Safari 3.1-5 */
    -o-border-image: url("../images/recipeBackground.jpeg") 333 round;
    /* Opera 11-12.1 */
    border-image: url("../images/recipeBackground.jpeg") 333 round;
    box-shadow: 5px 5px 15px grey;
    color: rgb(0, 0, 0);
    font-family: 'Permanent Marker', cursive;
    font-size: 1.6em;
    margin-top: 1%;
    padding-bottom: 10%;
    padding: 20px;
    text-shadow: -1px 1px 1px rgb(0, 0, 0), -1px 1px 1px rgb(255, 255, 255), 1px -1px #000000;
    letter-spacing: 4px;
}

.ingredientHeadChili {
    border-top: 7px solid #635f5f;
    border-bottom: 7px solid #666363;
}

.directionsChili {
    border-top: 7px solid #635f5f;
}


/*********************
 END CHILI PAGE STYLES 
 ********************/


/*********************************
 CHICKEN SANDWICH PAGE 
 *********************************/

.containerChickenSandwichRecipePage {
    padding-bottom: 1%;
}

.recipeContainerChickenSandwich {
    background-color: #fff7f7;
    box-shadow: 5px 5px 15px grey;
    color: rgb(0, 0, 0);
    margin-top: 1%;
    padding-top: 1%;
    padding-bottom: 10%;
}

#ingredientsCollapse .row .col-12 {
    margin-top: 1%;
}

.directionsChickenSandwich {
    border-top: 1px solid #8f8787;
}

.suggestions {
    margin-top: 1%;
}


/*************************
 END CHICKEN SANDWICH PAGE 
 *************************/


/*********************************
 CHICKBROC PAGE 
 *********************************/

.recipeContainerChickenBroc {
    background-color: #fff7f7;
    box-shadow: 5px 5px 15px grey;
    color: rgb(0, 0, 0);
    margin-top: 1%;
    padding-top: 1%;
    padding-bottom: 10%;
}

.directionsChickenBroc {
    border-top: 1px solid #8f8787;
}

input {
    display: block;
}


/* radio button style */


/* hide the checkboxes and radio buttons */

input[type=radio]:not(old) {
    width: 2em;
    margin: 0;
    padding: 0;
    font-size: 1em;
    opacity: 0;
}


/* style the first span to create the unchecked graphics */

input[type=radio]:not(old)+label>span {
    display: inline-block;
    width: 0.875em;
    height: 0.875em;
    margin: 0.25em 0.5em 0.25em 0.25em;
    border: 0.0625em solid rgb(192, 192, 192);
    border-radius: 0.25em;
    background: rgb(224, 224, 224);
    background-image: -moz-linear-gradient(rgb(240, 240, 240), rgb(224, 224, 224));
    background-image: -ms-linear-gradient(rgb(240, 240, 240), rgb(224, 224, 224));
    background-image: -o-linear-gradient(rgb(240, 240, 240), rgb(224, 224, 224));
    background-image: -webkit-linear-gradient(rgb(240, 240, 240), rgb(224, 224, 224));
    background-image: linear-gradient(rgb(240, 240, 240), rgb(224, 224, 224));
    vertical-align: bottom;
}


/* background gradient is reversed on selected radio buttons */

input[type=radio]:not(old):checked+label>span {
    background-image: -moz-linear-gradient(rgb(224, 224, 224), rgb(240, 240, 240));
    background-image: -ms-linear-gradient(rgb(224, 224, 224), rgb(240, 240, 240));
    background-image: -o-linear-gradient(rgb(224, 224, 224), rgb(240, 240, 240));
    background-image: -webkit-linear-gradient(rgb(224, 224, 224), rgb(240, 240, 240));
    background-image: linear-gradient(rgb(224, 224, 224), rgb(240, 240, 240));
}


/* display a ‘bullet’ inside selected radio buttons, applying the same techniques as for the unchecked graphics to the second span element: */

input[type=radio]:not(old):checked+label>span>span {
    display: block;
    width: 0.5em;
    height: 0.5em;
    margin: 0.125em;
    border: 0.0625em solid rgb(115, 153, 77);
    border-radius: 0.125em;
    background: rgb(153, 204, 102);
    background-image: -moz-linear-gradient(rgb(179, 217, 140), rgb(153, 204, 102));
    background-image: -ms-linear-gradient(rgb(179, 217, 140), rgb(153, 204, 102));
    background-image: -o-linear-gradient(rgb(179, 217, 140), rgb(153, 204, 102));
    background-image: -webkit-linear-gradient(rgb(179, 217, 140), rgb(153, 204, 102));
    background-image: linear-gradient(rgb(179, 217, 140), rgb(153, 204, 102));
}


/******************
 END CHICKBROC PAGE 
 *****************/